
<footer class="page-footer font-small unique-color-dark pt-4">

  
  <div class="container">

    
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">log in</h5>
      </li>
      <li class="list-inline-item" id="btn">
        <a href="#!" class="btn btn-outline-white btn-rounded">log in</a>
      </li>
    </ul>
   

  </div>
  

  
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://github.com/"> GitHub</a>
  </div>
 

</footer>
