<div class="container">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6UHlL1klcr7fBLpraLg9Faxr7RpUNJOYexw&usqp=CAU">

<form (submit)="search()">
  <div  >
    <label for="username">UserName</label>
    <input type="text" name="username" placeholder="username" [(ngModel)]='username' >
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
  
</form>
<div>
  <p>The profile</p>
  <app-profiles [profileData]='profileData'></app-profiles>
</div>


<div>
  <p>repos</p>
<app-repos [reposData]='reposData'></app-repos>
</div>

</div>